[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "vane-extension-ci-tools"]
	path = vane-extension-ci-tools
	url = https://github.com/AstroVela/vane-extension-ci-tools.git
